@charset "UTF-8";

.logo {
	width: 100%;
}

header {
	background-color: lightgoldenrodyellow;
}

footer {
	background-color: lightgoldenrodyellow;
}

body {
	background-color: beige;
}

.header-link-border:hover {
	border-color: red;
}

.header-link-border-stat {
	border: 1px solid;
	border-radius: 10px;
	margin-right: 5px;
	height: fit-content;
}

.footer-image {
	width: 35px;
}

.basket {
	background: no-repeat url("/CoffeeMachine/images/black_basket.png");
}

.basket:hover {
	background-image: url("/CoffeeMachine/images/red_basket.png");
}

.basket-list {
	min-width: 100%;
	text-align: center;
	background-color: #fff;
	border-radius: .25rem;
}

.basket-table {
	table-layout: fixed;
	width: 100%;
}

.basket-list-image {
	height: 106px;
}

.basket-list-tr {
	border-top-width: 1px;
	font-weight: 100;
}

.basket-list-td {
	border-right-width: 1px;
}

.basket-list-header {
	font-weight: bold;
}

.icon-image {
	width: 24px;
	height: 24px;
	margin-top: .5rem;
	text-decoration: none;
	border: none;
}

.revert-padding {
	padding: revert;
}

#basket-area:hover .nav-link {
	color: red;
}

#basket-area:hover .basket {
	background-image: url("/CoffeeMachine/images/red_basket.png");
}

#basket-area {
	display: inline-block;
}

.float-right {
	float: right;
}

header .nav-link:hover {
	color: red;
}

.user-icon {
	background: no-repeat url("/CoffeeMachine/images/user_icon.png");
	margin: 5px;
}

.user-icon:hover {
	background: no-repeat url("/CoffeeMachine/images/user_icon_red.png");
}

@media ( min-width : 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 720px;
	}
}

@media ( min-width : 992px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 720px;
	}
}

.btn:hover {
	color: red;
}

.empty-shadow:focus {
	box-shadow: none;
}

.form-floating>label {
	padding: 1px;
}

.width-50 {
	width: 50%;
}

.width-45 {
	width: 45%;
}

.star {
	color: red;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: lightgoldenrodyellow;
	border-radius: 10px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.show {
	display: block;
}

.center-align {
	text-align: center;
}

.form-floating>#phone.form-control::placeholder {
	color: gray;
}

:-ms-input-placeholder {
	color: transparent;
}

#phone:-ms-input-placeholder {
	color: gray;
}

.flex-display {
	display: flex;
}

.input-info {
	max-width: 45%;
	margin: 5px;
}

.error {
	color: red;
}

.success {
	color: green;
	text-decoration: underline;
}

.error-input {
	border-color: red;
	box-shadow: 0 0 0 0.25rem red;
}

.float-right {
	float: right;
}

.description {
	min-width: 66%;
}

.description-row {
	min-height: 50%;
}

.edit {
	background: no-repeat url("/CoffeeMachine/images/edit.png");
}

.edit:hover {
	background-image: url("/CoffeeMachine/images/red_edit.png");
}

.delete {
	background: no-repeat url("/CoffeeMachine/images/delete.png");
	background-position: center;
}

.delete:hover {
	background-image: url("/CoffeeMachine/images/red_delete.png");
}

.icon {
	position: absolute;
	margin: 5px;
}

.icon-right-corner {
	top: 0px;
	right: 0px;
}

.page-list {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.half-padding {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center
}

.rating>input {
	display: none
}

.rating>label {
	position: relative;
	color: #FFD600;
	cursor: pointer
}

.rating>label::before {
	content: "\2605";
	position: absolute;
	opacity: 0
}

.rating>label:hover:before, .rating>label:hover ~label:before {
	opacity: 1 !important
}

.rating>input:checked ~label:before {
	opacity: 1
}

.rating:hover>input:checked ~label:before {
	opacity: 0.4
}

.hide {
	display: none;
}

.auto-flex {
	flex: auto;
}

.margin-05 {
	margin-right: 0.5%;
}

.current {
	background-color: lightblue;
}

.do-btn {
	margin: 3%;
}

.amount {
	width: 50px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.change-btn {
	margin-bottom: 10px;
}

.underline {
	text-decoration: underline;
}

.drink-menu {
	width: 219px;
	height: 358px;
}